<h1 class="title">實作登入登出</h1>
<form class="form1" action="/login" method="POST">

      <label for="email" class="last-name">E-mall</label>
      <input id="email" type="email" name="email">

      <label for="password">PassWord</label>
      <input id="password" type="password" name="password">

      <button type="submit" >Submit</button>
    </form>